/*GENERAL*/

/*Light Theme*/
:root {
    --bg-image: url(IMG/BG.png);
    --text-color: #000000;
    --button-bg: #191970;
    --button-color: #ffffff;
    --nav-color: purple;
    --grid-color: rgba(245, 245, 245, 0.756);
}

/* Dark Theme */
.dark-theme {
    --bg-image: url(IMG/BGD.jpg);
    --text-color: #ffffff;
    --button-bg: #ffffff;
    --button-color: #191970;
    --nav-color: rgb(99, 2, 99);
    --grid-color: rgba(245, 245, 245, 0.226);
    
}

body {
    background-image: var(--bg-image);
    background-size: cover;      
    background-position: center;
    color: #000000;
    --button-bg: #191970;
    --button-color: #ffffff;
    --nav-color: purple;
    --grid-color: rgba(245, 245, 245, 0.756);
    --button-click: rgb(159, 225, 255);
    transition: all 0.3s ease;
    
    margin: 0; 
    padding-top: 70px;

}

body.dark {
    background-image: url(IMG/BGD.jpg);
    background-size: cover;      
    background-position: center;
    color: #ffffff;
    --button-bg: #ffffff;
    --button-color: #191970;
    --nav-color: rgb(99, 2, 99);
    --grid-color: rgba(245, 245, 245, 0.493);
    --button-click: rgb(159, 225, 255);
    transition: all 0.3s ease;

    margin: 0; 
    padding-top: 70px;
}

.ThemeButton {
    position: relative;
    background: var(--button-bg);
    color: var(--button-text);
    scale: 1.5;
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.butten{
    align-content: right;
}

.ButtonBall{
    width: 5px;       
    height: 5px;      
    background: var(--button-color);   
    border-radius: 50%;
    transform:  scale(3);
    transition: transform 0,3s ease;
    animation: ToLeft 0.5s ease-out forwards;
}

.ButtonBall.LTD {
    animation: ToRight 0.5s ease-out forwards;
}

.ButtonBall.DTL {
    animation: ToLeft 0.5s ease-out forwards;
}


@keyframes ToRight {
    from {
        transform: scale(3) translateX(0px);
    }
    to {
        transform: scale(3) translateX(8px);
    }
}

@keyframes ToLeft {
    from {
        transform: scale(3) translateX(8px);
    }
    to {
        transform: scale(3) translateX(0px);
    }
}

img{
    pointer-events: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-color);
    padding: 1px;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
}

.menu, nav a{
    color: white;
    font-size: 1.5rem;
}

.Menu {
  position: relative;
  margin-left: 50px;
}

.Menu a {
  position: relative;
  z-index: 1;       
  padding: 5px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.Menu a.active {
    background: #3498db;
    color: white;
    border-radius: 20px;
    opacity: 0.9; 
}

.divbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}


#Alias{
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 1.75rem;
    margin-right: 50px;
}

a {
  color: blue;
  text-decoration: none;
  transition: color 0.3s ease; 
}

a:hover{
    color: rgb(0, 213, 255);
}

.error {
      color: red;
      font-size: 14px;
    }

input.error-border, textarea.error-border {
    border: 2px solid red;
}

.ErrorNotification {
      display: none;
      background: #ffe5e5;
      color: red;
      border: 2px solid red;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      font-weight: bold;
    }

.GreenNotification {
      display: none;
      background: #abffcb;
      color: rgb(0, 138, 7);
      border: 2px solid rgb(0, 140, 255);
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      font-weight: bold;
    }
    
/*GALLERY PAGE*/

.container{
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1.25fr 2fr 0.8fr;
    gap: 5px; 
}

.AsStrong{
    font-weight: bold;
    font-size: 20px;
}

.AsSize{
    font-weight: bold;
    font-size: 30px;
}

.ContentSize{
    font-size: 20px;
}

.Sample{
    width: 200px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    margin-bottom:50px;
}

.Leftbox_G{
    background: var(--grid-color);
    padding: 10px;
    text-align: left;
    height: 100%;
}

.Centerbox_G{
    background: var(--grid-color);
    padding: 20px;
    text-align: left;
    height: 98%;
}

.Rightbox_G{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 18%;
    height: 35%;
    background: #244e736d;
    padding: 10px;
    text-align: center;
    align-self: start;
}

.ContentList {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.ContentList::before {
    content: '';
    position: absolute;
    top: -5px;    
    bottom: -5px; 
    left: -35px;  
    right: -35px; 
    background-color: #ff8b8b;
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: -1; 
    border-radius: 4px; 
}

.ContentList:hover::before {
    opacity: 1; 
}


/*ABOUT PAGE*/
.arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid var(--button-bg);
  border-right: 0px;
  background: none;
  cursor: pointer;
  transform: translateX(10px);
  transition: all 0.5s ease;
}

.arrow:hover{
    transform: scale(1.1) translateX(11px);
    border-left: 20px solid var(--button-click);
}

.arrow.active{
    transform: rotateY(180deg);
}

.containerAbout {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}

.containerAbout.Deactive {
    display: grid;
    grid-template-columns: 2fr;
    gap: 10px;
}

.Leftbox_A{
    background: rgba(255, 255, 255, 0);
    padding: 2px;
    text-align: center;
}

.Rightbox_A{
    animation: fadeInRA 0.6s ease-out forwards;
    background: rgba(151, 215, 255, 0.317);
    padding: 10px;
    text-align: left;
    font-size: 20px;
    width: 80%;
    height: 200%;
    z-index: -1;
    transition: all 0.8s ease;
}

.Rightbox_A.center{
    animation: ToCenter 0.8s ease-out forwards;
}

@keyframes ToCenter{
    from{
        opacity: 1;
        background: rgba(151, 215, 255, 0.317);
        font-size: 20px;
        width: 80%;
        height: 200%;
    }
    to{
        opacity: 1;
        background: rgba(151, 215, 255, 0.317);
        font-size: 20px;
        width: 150%;
        height: 200%;
        transform: translateX(-500px);
    }
}

.row {
    display: flex;
  }

  .label {
    white-space: nowrap;
    width: 100px;   
  }

  .separator {
    margin: 0 10px;
  }

.pfpAbout{
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
    width: 300px;
}

.pfpAbout.Deactive{
    animation: fadeOut 0.8s ease-out forwards;
}

@keyframes fadeInRA{
    from{
        width: 150%;
        height: 200%;
        transform: translateX(-500px);
    }
    to{
        opacity: 1;
        width: 80%;
        height: 200%;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
        border-radius: 12px;
        transform: perspective(800px) rotateY(-10deg); 
        box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
    }
    to{
        opacity: 0;
        border-radius: 12px;
        transform: rotateY(-90deg);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0);
    }
}

.CAbout{
    opacity: 0;
    transform: translateY(80px);
    animation: fadeInUpRAT 0.8s ease-out forwards;
}

@keyframes fadeInUpRAT{
    from{
        opacity: 0;
        transform: translateY(80px);
    }
    to{
        opacity: 1;
        transform: translateY(20px);
    }
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(20px);
        object-fit: cover;
        border-radius: 12px;
        transform: perspective(800px) rotateY(-10deg); 
        box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
    }
}

/*CONTACT PAGE*/
.formContaiiner{
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

.formGroup{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label{
  flex: 1;
  color: #0088ff; 
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
}

input, textarea {
  flex: 3;
  padding: 10px 15px;
  border: 1.75px solid #9000ff; 
  border-radius: 20px;       
  font-size: 16px;
}

textarea {
  height: 200px;
  border-radius: 20px;
  resize: none;
}

.SubmitButton {
      width: 25%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      background: #00ddff;
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

.SubmitButton:hover {
    background: #7b00ff;
    transform: scale(1.05);
}

/*Tab ≤ 768px 2 kolom */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 0.5fr 2fr;
    }

    .containerAbout {
    grid-template-columns: 2fr 2fr;
    }
}

/* Hp/Mobile ≤ 480px 1 kolom */
@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    .containerAbout {
        grid-template-columns: 1fr;
    }
}

